
<div class="section-cadastro">
  <form class="form-cadastro">
    <fieldset>
      <legend>cadastre o seu amiguinho aqui</legend>
      <label for="petname">Nome:</label>
      <input type="text" id="petname" [(ngModel)]="pet.name" name="petname" >
      <label for="petHealth">Estado de Saúde:</label>
      <select class="form-control" (change)="selectChangeHandlerHealth($event)">
        <option *ngFor="let healthStatus of listhealthStatus" [value]="healthStatus.code">{{healthStatus.description}}</option>
      </select>
      <label for="photograph">Foto do amiguinho:</label>
      <input type="text" id="photograph" [(ngModel)]="pet.petPhotograph" name="photograph" >
      <label for="accomodation">Alojamento</label>
      <select class="form-control" (change)="selectChangeHandler($event)">
        <option *ngFor="let accomodation of accomodations" [value]="accomodation.petAccomodationId" [ngClass]="getStyleIfBusy(accomodation.available)">{{ accomodation.available == false ? accomodation.name + " - Ocupado" : accomodation.name + " - Disponivel"}}</option>
      </select>
      <label>Dados do Dono:</label>
      <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" id="name" [(ngModel)]="pet.petOwner.name" name="name" >
          <label for="address">Endereço:</label>
          <input type="text" id="address" [(ngModel)]="pet.petOwner.address" name="address" >
          <label for="description">Descrição do serviço:</label>
          <input type="text" id="description" name="description" [(ngModel)]="pet.petOwner.description">
          <label for="phone">Telefone:</label>
          <input type="text" id="phone" name="phone" [(ngModel)]="pet.petOwner.phone">
      </div>
      <button class="btn btn-success btn-block" id="btn-save" (click)="Save()" [disabled]="!pet.petOwner.name">Cadastrar</button>
      <button class="btn btn-primary btn-block" id="btn-update" (click)="UpdatePet(pet)">Atualizar</button>
      <div class="alert alert-success message" *ngIf="message">
        {{message}}
      </div>
    </fieldset>
  </form>


<p class="text-center">Lista de Pets</p>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Saude</th>
        <th>Foto</th>
        <th>#</th>
        <th>#</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pet of pets">
        <td>{{pet.name}}</td>
        <td>{{formatPetHealth(pet.petHealth)}}</td>
        <td>{{pet.petPhotograph}}</td>
        <td><button (click)="Update(pet, pet.petOwner)" class='btn btn-primary'>Alterar</button></td>
        <td><button (click)="Delete(pet)" class='btn btn-danger'>Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
</div>