<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
    <form>
      <div class="form-group">
        <h2 class="text-center">Cadastre o Alojamento aqui</h2>
        <label for="accomodationname">Nome:</label>
        <input class="form-control" type="text" id="accomodationName" [(ngModel)]="petAccomodation.name" name="accomodationName" >
      </div>
        <button class="btn btn-success btn-block" id="btn-save" (click)="SaveAccomodation()" [disabled]="!petAccomodation.name">Cadastrar</button>
        <div class="alert alert-success message" *ngIf="message">
          {{message}}
        </div>
    </form>
 </div>
 <div class="flexTableContainer">
  <h2 class="text-center flex-title">Lista de Alojamentos</h2>
  <table class="table table-striped table-flex">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Situação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let accomodation of accomodations">
        <td>{{accomodation.name}}</td>
        <td [ngClass]="verifyAvaiable(accomodation.available)">{{getStatusAccomodation(accomodation.accommodationStatus)}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>