<div class="row">
    <div class="col-6">
      <span><a routerLink="/pets">Voltar</a></span><h2>Detalhes do Pet</h2>
      <div class="form-group">
        <label>Nome: </label><span>{{pet.name}}</span>
      </div>
      <div class="form-group">
        <label>Estado de Saúde:</label><span>{{formatPetHealth(pet.petHealth)}}</span>
      </div>
      <div class="form-group">
        <label>Alojamento:</label><span>{{pet.petAccomodation.name}}</span>
      </div>
      <div class="form-group">
        <label>Dados do dono:</label>
      </div>
      <div class="form-group">
        <label>Nome:</label><span>{{pet.petOwner.name}}</span>
      </div>
      <div class="form-group">  
        <label>Endereço:</label><span>{{pet.petOwner.address}}</span>
      </div>
      <div class="form-group">
        <label>Descrição do atendimento:</label><span>{{pet.petOwner.description}}</span>
      </div>
      <div class="form-group">
        <label>Telefone:</label><span>{{pet.petOwner.phone}}</span>
      </div>
    </div>
    <div class="col-6 col-photo">
      <div class="photo"></div>
    </div>  
</div>