<div class="section-cadastro">
<form class="form-cadastro">
  <fieldset>
    <legend>Faça o seu cadastro e do seu amiguinho aqui</legend>
    <label for="name">Nome:</label>
    <input type="text" id="name" [(ngModel)]="petOwner.name" name="name" >
    <label for="address">Endereço:</label>
    <input type="text" id="address" [(ngModel)]="petOwner.address" name="address" >
    <label for="description">Descrição do serviço:</label>
    <input type="text" id="description" name="description" [(ngModel)]="petOwner.description">
    <label for="phone">Telefone:</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="petOwner.phone">
    <button class="btn btn-primary btn-block" (click)="salvar()" [disabled]="!petOwner.name">Cadastrar</button>
    <div class="alert alert-success message" *ngIf="message">
      {{message}}
    </div>
  </fieldset>
</form>
</div>