<nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-color">
  <a class="navbar-brand" routerLink="/">
    <img width="90px" height="80px" src="../../assets/doglogo.png" />Atlântico</a>
    <button class="navbar-toggler collapsed pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>    
    <div class="navbar-collapse collapse show" id="navbarsExampleDefault" style="">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pets">Pets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/alojamentos">Alojamentos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/donos">Cadastro de Dono</a>
        </li>
      </ul>
  </div>
</nav>