<div class=" row mb-5 text-center">
  <h3 class="display-4">Petshop Atlantico - Gerenciamento Inteligente </h3>
</div>

<div class="row mb-5">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/card-3dog.png"/>
      <div class="card-body">
        <h4 class="card-title">Faça cadastros</h4>
        <h6 class="card-subtitle">Cadastre o Pet e gerencie</h6>
        <p>tudo que você precisa, para fazer o gerenciamento do fluxo de atendimento dos seus clientes</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/card-1dog.png"/>
      <div class="card-body">
        <h4 class="card-title">Mantenha o seu pet sempre Feliz</h4>
        <h6 class="card-subtitle">Importante sempre cuidar da saúde</h6>
        <p>Quem tem cachorro sabe, a felicidade deles faz a nossa felicidade, não é mesmo?!  Os cães são animais de estimação que sempre estão ali para tentar fazer o nosso dia mais feliz.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="../../assets/card-2dog.png"/>
      <div class="card-body">
        <h4 class="card-title">Organização e Gerenciamento</h4>
        <h6 class="card-subtitle">Seus Paciêntes de quatro patas vão adorar</h6>
        <p>você vai conseguir, ter total controle dos atendimentos requisitados, saberá o estado de saúde,e você poderá acompanhar a cada mudança no estado</p>
      </div>
    </div>
  </div>
</div>